button{
    background-color: black;
    border: 1px solid yellow;
    padding: 1em;
    color: white;
    cursor: pointer;
    border-radius: 25%;
}
button:hover{
    background-color: grey;
    color: white;
}